.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__cogdot {
  right: 17px;
  top: 58px;
}
